.baseBox {
    width: 40%;
    height: 200px;
    background-color: lightgray;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.baseBox:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: darkgray;
}