header {
    display: flex;

    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
}

.pageLink {
    color: black;
    font-weight: bold;
    background-color: grey;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
    transition: 0.7s;
    border-radius: 8px;
}

.pageLink:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: lightgrey;
}

header {
    padding: 2px 10px;
}

.menuButton {
    padding: 5px 9px;
    border-radius: 8px;
    border: none;
    background-color: aqua;
    transition: 0.3s;
}

.menuButton:hover {
    background-color: cadetblue;
    cursor: pointer;
    transition: 0.7s;
}