header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: lightgray;
}

.pageLink {
    color: black;
    font-weight: bold;
    background-color: darkgray;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
    transition: 0.7s;
    border-radius: 8px;
    border: solid;
    border-color: darkgray;
}

.pageLink:hover {
    cursor: pointer;
    transition: 0.3s;
    border: solid;
    border-color: gray;
}

header {
    padding: 2px 4%;
    display: flex;
    justify-content: space-between;
}


.hamburger-menu {
    font-size: 1.5em;
    cursor: pointer;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
}

.bm-burger-bars {
    background: #000000;
    border-radius: 8px;
}

.bm-menu-wrap {
    top: 0;
}

.bm-menu {
    background: darkgray;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    color: black;
}

.bm-item:hover {
    color: #222222;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #222222;
    font-weight: bold;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #222222;
    font-weight: bold;
    transition: color 0.2s;
}